{% extends "base.html" %}

{% block content %}

<h2 class="section-title">О команде</h2>

<div class="row">
    <p>The Little Outsiders - клуб хоккейной Майнкрафт лиги PepeLand Hockey League 2(PHL 2)</p><br>
        <p>Наша команда была создана 22 февраля 2025 года еще в первом сезоне PHL и называлась Altai Dragons. Тогда в нашей команде было всего 3 участника: Bullf1nch_, HobenBoben и Shmak_shmak. Сейчас двое из них выступают за "Аутсайдеров": HobenBoben и Bullf1nch_.<br>
        Первый сезон PHL был невероятно насыщенным, случалось и плохое, и хорошее. Тогдашние Altai Dragons неплохо показали себя в первом сезоне, особенно учитывая редкие тренировки. В PHL 1 мы вышли в плей-офф, находясь на третьем месте в своей конференции, но потерпели поражение против Partiya S.O.S.I.<br>
        Тем не менее наша команда довольна первым сезоном, это был незабываемый экспириенс.</p><br>
        <p>И вот мы подошли к настоящему времени, ко второму сезону PHL. Название команды изменилось, мы стали Walled Robots, но состав остался прежним.<br>
        На этом сезоне у нас строится свой проект - Walled City-99 из игры Stray, именно с помощью этого проекта мы и придумали название.<br>
        Но наступает момент X - Мы продаем Shmak_shmak в Partiya S.O.S.I из-за чуть ли не развала нашей команды от большого стрика поражений и внутренних конфликтов между участниками.<br>
        На замену Shmak_shmak по началу пришел Riba_Krasn0perka, но неожиданно для нас перешел в другую команду спустя неделю.<br>
        Следующими мы взяли finger_kek и BuHoDeJluE, они находятся в команде до сих пор, но сидят в запасе, так как к нам в команду присоединился еще один сильный игрок - Panda_527, бывший участник Okayama Flames.<br>
        Несмотря на все еще продолжающийся стрик поражений 29-го января 2026 года мы играем против CDEK Boosters. Матч невероятно плотный, эмоциональный. По итогу мы вышли в овертайм, чуть не пропустили гол, но наш вратарь сумел вытянуть шайбу за 1-5 пикселей от гола. Этот сейв нас очень сильно порадовал и замотивировал, и мы смогли забить сопернику, тем самым победив его.<br>
        После этого матча случился так называемый ребрендинг. Walled Robots стали The Little Outsiders, сменилась цветовая гамма, с фиолетово-белого на голубо-белый.</p>
        <p>Также, The Little Outsiders участвуют в новой 6x6 лиге, выступая за Молодежную Сборную, пока что матчей не было, но тренировки показывают, что игры будут очень интересными.<br>
        На этом пока что всё, информация будет дополняться в будущем.</p>
    </div>

{% endblock %}